:root {
  --cor-amarelo: #ffbb00;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0px;
  list-style: none;
}

h1,
ul,
p {
  margin: 0px;
}